.bhead{
        background-image: url("../img/bhead.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }
.b-name{
    /* font-size: 100px; */
    text-align: center;
    font-weight: 800;
    color: white;
    font-style: italic;
    font-family: 'Marck Script', cursive;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.travel-card-item{
    background-size: cover;
    display: block;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

.about-image{
    background-size: cover;
    display: block;
    background-position: center;
}
.about{
    font-size: 25px;
    font-weight: 400;
}
.about-head{
    font-weight: 900;
    color: gray;
}
.card-head{
    font-weight: 700;
}
.card-hover{
    font-weight: 800;
}
.hr-line{
    margin-top: 100px;
    margin-bottom: 100px;
}






@media only screen and (max-width: 600px) {
    body {
      font-size: 20px;
    }
    .icon-item{
        size: 30px;
    }
    .about-image{
        /* display: none; */
    }
    .hr-line{
        margin-top: 40px;
        margin-bottom: 40px;
    }
  }















  /*POST PAGE*/
  .post-nav{
      background-color: #f9a825;
      font-weight: 400;
    }
.post-head-image{
    background-image: url('../img/IMG_20181106_171542_HDR.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.post-heading{
    font-weight: 500;
}
.gallery-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    min-width: 100%;
}